@import "./colors/blue-light";
@import "./colors/cyan";
@import "./colors/gray";
@import "./colors/gray-blue";
@import "./colors/green";
@import "./colors/green-light";
@import "./colors/orange";
@import "./colors/red";
@import "./colors/yellow";
@import "./colors/social-networks";

// stylelint-disable
$white: #fff;
$gray-100: $gray_10;
$gray-200: $gray_20;
$gray-300: $gray_30;
$gray-400: $gray_40;
$gray-500: $gray_50;
$gray-600: $gray_60;
$gray-700: $gray_70;
$gray-800: $gray_80;
$gray-900: $gray_90;
$black: #000;

$blue:    $blue-light_50;
$red:     $red_50;
$orange:  $orange_50;
$yellow:  $yellow_50;
$green:   $green-light_50;
$cyan:    #17a2b8 !default;

$primary:       $green;
$secondary:     $gray-600 !default;
$success:       $green;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$text-color:    $gray-900;

// Body
$body-bg: white;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: true;
$enable-hover-media-query: false; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes: true;
$enable-print-styles: true;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1440px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 1200px,
        xl: 1470px
);

// Select2 compatible
