.dashboard {
    height: 100%;
    &_row,
    &_container {
        height: 100%;
    }
    &_aside {
        flex: 1;
        background-color: $gray;
        color: white;
    }

    &_main {
        flex: 1;
    }
}

@import "sidebar";