.dashboard {
    height: 100%;
    @include gradient-y($blue-light_70, $blue-light_90);
    background-attachment: fixed;

    &_row,
    &_container {
        min-height: 100%;
    }

    &_container{}

    &_aside {
        position: fixed;
        padding: 0 !important;
        margin: 0 !important;
        flex: 1;
        background-color: $gray-blue_90;
        color: white;
    }

    &_main,
    &_aside{
        min-height: 100%;
    }
    &_main {
        position: absolute;
        flex: 1;
        background-color: white;
        right: 0;
    }
}

@import "sidebar";

@import "content";
@import "forms";