//
// Colors
// --------------------------------------------------


// Light blue colors
// -------------------------

$blue-light_5:       #E1F5FE;
$blue-light_10:      #B3E5FC;
$blue-light_20:      #81D4FA;
$blue-light_30:      #4FC3F7;
$blue-light_40:      #29B6F6;
$blue-light_50:      #03A9F4;
$blue-light_60:      #039BE5;
$blue-light_70:      #0288D1;
$blue-light_80:      #0277BD;
$blue-light_90:      #01579B;


$blue-light_a70:      #0091EA;
