//
// Colors
// --------------------------------------------------


// Gray blue colors
// -------------------------

$gray-blue_5:                 #ECEFF1;
$gray-blue_10:                #CFD8DC;
$gray-blue_20:                #B0BEC5;
$gray-blue_30:                #90A4AE;
$gray-blue_40:                #78909C;
$gray-blue_50:                #607D8B;
$gray-blue_60:                #546E7A;
$gray-blue_70:                #455A64;
$gray-blue_80:                #37474F;
$gray-blue_90:                #263238;