//
// Colors
// --------------------------------------------------


// Gray colors
// -------------------------

$gray_5:      #FAFAFA;
$gray_10:     #F5F5F5;
$gray_20:     #EEEEEE;
$gray_30:     #E0E0E0;
$gray_40:     #BDBDBD;
$gray_50:     #9E9E9E;
$gray_60:     #757575;
$gray_70:     #616161;
$gray_80:     #424242;
$gray_90:     #212121;