//
// Colors
// --------------------------------------------------


// Green colors
// -------------------------

$green-light_5:       #F1F8E9;
$green-light_10:      #DCEDC8;
$green-light_20:      #C5E1A5;
$green-light_30:      #AED581;
$green-light_40:      #9CCC65;
$green-light_50:      #8BC34A;
$green-light_60:      #7CB342;
$green-light_70:      #689F38;
$green-light_80:      #558B2F;
$green-light_90:      #33691E;
