//
// Colors
// --------------------------------------------------


// Ornage colors
// -------------------------

$orange_5:    #fff3e1;
$orange_10:   #ffe0b2;
$orange_20:   #fecc81;
$orange_30:   #fcb64e;
$orange_40:   #faa629;
$orange_50:   #f8981d;
$orange_60:   #f78c1f;
$orange_70:   #f47c20;
$orange_80:   #ed6d23;
$orange_90:   #e45325;
