//
// Colors
// --------------------------------------------------


// Red colors
// -------------------------

$red_5:       #ffebee;
$red_10:      #ffcdd2;
$red_20:      #ef9a9a;
$red_30:      #e57373;
$red_40:      #ef5350;
$red_50:      #f44336;
$red_60:      #e53935;
$red_70:      #d32f2f;
$red_80:      #c62828;
$red_90:      #b71c1c;
