//
// Colors
// --------------------------------------------------


// Social network colors
// -------------------------

$social-pinterest:    #cb2028;
$social-linkedin:     #0072b5;
$social-stumbleupon:  #ed4a13;
$social-googleplus:   #3f85f4;
$social-facebook:     #2f4b93;
$social-twitter:      #00bdef;
$social-vk:           #36638e;
$social-mailru:       #014b88;