//
// Colors
// --------------------------------------------------


// Yellow colors
// -------------------------

$yellow_5:                    #FFFDE7;
$yellow_10:                   #FFF9C4;
$yellow_20:                   #FFF59D;
$yellow_30:                   #FFF176;
$yellow_40:                   #FFEE58;
$yellow_50:                   #FFEB3B;
$yellow_60:                   #FDD835;
$yellow_70:                   #FBC02D;
$yellow_80:                   #F9A825;
$yellow_90:                   #F57F17;